.card>*,
.textContent>* {
    flex: 1 1 100%;
}

.textContent {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 672px;
}

.textContent>*+* {
    padding: 7px 0 0;
}

@media all and (min-width: 1024px) {
    .textContent {
        flex-basis: 540px;
        order: 1;
        margin: 0 0 0 38px;
        flex-flow: column-reverse nowrap;
        justify-content: center;
    }

    .textContent>* {
        flex: 0 0;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
      flex-basis: 672px;
    }
  }